<!-- Footer -->
  <footer class="bg-white  border-t">
    <div class="container p-6 mx-auto">
      <div class="lg:flex">
        <div class="w-full py-6 lg:w-2/5">
          <a href="/">
            <img class="w-auto h-5" src="/images/logo-blue.png" alt="logo">
          </a>
          <p class="max-w-sm mt-2 text-gray-500 ">A simple auto leasing platform.</p>
          <div class="flex space-x-4 mt-4">
            <a href="https://wa.me/9175837073" target="_blank" class="text-gray-700 text-gray-700 text-2xl"
              aria-label="Chat on WhatsApp">
              <i class="fab fa-whatsapp"></i>
            </a>
            <a href="https://instagram.com/wheelsautoleasing" target="_blank"
              class="text-gray-700 text-gray-700 text-2xl" aria-label="Visit Instagram">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>

        <div class="mt-0 lg:mt-0 lg:flex-1">
          <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3">
            <div>
              <h3 class="text-gray-700 font-semibold ">Company</h3>
              <a href="/leasing-deals/" class="block mt-2 text-sm text-gray-500  hover:underline">Leasing Deals</a>
              <a href="/about-us/" class="block mt-2 text-sm text-gray-500  hover:underline">About Us</a>
              <a href="/blog/" class="block mt-2 text-sm text-gray-500  hover:underline">Blog</a>
              <a href="/contact/" class="block mt-2 text-sm text-gray-500  hover:underline">Partner with Us</a>
            </div>

            <div>
              <h3 class="text-gray-700 font-semibold ">Support</h3>
              <a href="/#faq" class="block mt-2 text-sm text-gray-500  hover:underline">FAQ</a>
              <a href="/contact/" class="block mt-2 text-sm text-gray-500  hover:underline">Contact
                Us</a>
              <a href="/docs-&-forms/" class="block mt-2 text-sm text-gray-500  hover:underline">Docs &
                Forms</a>
            </div>

            <div>
              <h3 class="text-gray-700 font-semibold ">Get in touch</h3>
              <span class="block mt-2 text-sm text-gray-500  hover:underline">+1 917 583 7073</span>
              <span class="block mt-2 text-sm text-gray-500  hover:underline">hello@wheelsautoleasing.com</span>
            </div>
          </div>
        </div>
      </div>

      <hr class="h-px my-6 bg-gray-200 border-none ">

      <div>
        <p class="text-center text-gray-500 ">&copy;
          <script>
            document.write(new Date().getFullYear())
          </script> Wheels. All rights reserved.
        </p>
      </div>
    </div>
  </footer>